.tasklsit{
    padding: 20px;
    
    border:rgba(0,0,0,.03) solid 4px;;
    margin-left: calc(50% - 450px);
    width: 800px;
    margin-top: 50px;
    
}
.task{
    padding: 20px;
    background: #00bcd4;
    margin-bottom: 20px;
    
}
.task span {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#fff;
    margin-left: 20px;
}
.lo{
    margin-left: calc(50% - 30px);
    margin-top: 30px;
    font-size: 30px;
    color:#1d3082;
}
