<div class='window'>
  <div class='login-component'>
    <form action=""  (ngSubmit)='login(inputName.value,inputPassword.value)'>
      <div class='field login'>
        <md-input-container>
          <input required type="text" mdInput placeholder="Username" #inputName>
        </md-input-container>
      </div>
      <div class='field login'>  
        <md-input-container>
          <input required type="password" mdInput placeholder="Password" #inputPassword>
        </md-input-container>
      </div>      
      <button type="submit" md-button>OK</button>
    </form>
</div>